@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-action="GenreSearch">
    <label for="genre">Search movies by genre: </label>
    <input size="70" type="text" id="genre" name="genre" placeholder="Enter one genre" />
    <input type="submit" value="Search" /><br /><br />
</form>